<h1>Talks#index</h1>
<% @bigcategories.each do |category| %>
  <%= link_to category.name, category_path(category) %>
  <ul>
  <% category.talks[0..2].each do |talk| %>
    <li><%= link_to talk.title ,talk_path(talk) %></li>
  <% end %>
  </ul>
<% end %>
