<section id="error">
  <div class="shadow_section">
    <div class="section_block">
      <h1>404</h1>
      <p>お探しのページは見つかりませんでした</p>
      <div class="top_link">
      <%= link_to 'トップページへ戻る', root_path %>
    </div>
  </div>
</section>
