/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin:0;
}
header{
  background-color:#333;
  h1{
    font-size:1.8rem;
    line-height:3rem;
    text-align:center;
    margin:0;
    a{
      color:#fff;
    }
  }
}
// サムネイルのCSS
.talk_thumnbnail_cover{
  position:relative;
  img{
    max-width:100%;
  }
  .start_radio_btn,.stop_radio_btn,.resume_radio_btn{
    width:100%;
    position:absolute;
    top:40%;
    text-align:center;
    color:#fff;
  }
  .stop_radio_btn,.resume_radio_btn{
    display:none;
  }
  .take_time{
    position:absolute;
    bottom:.5rem;
    right:.5rem;
    color:#fff;
    font-size:.9rem;
  }
  .now_time{
    position:absolute;
    bottom:.5rem;
    color:#fff;
    font-size:.9rem;
    left:.5rem;
  }
}
// 2カラムのトーク一覧
.talks_block{
  .talk_block{
    height:240px;
    a{
    }
  }
}

// Topページ
#top{
  .category_talk_block{
    h2{
      font-size:2rem;
      margin:.5rem;
      a{
        color:#333;
      }
      .to_category_page{
        font-size:1rem;
        a{
          color:#039be5;
        }
      }
    }
  }
}

#show{
  img{
    max-width:100%;
  }
  h2{
    font-size:1.5rem;
    margin:.5rem;
  }
  .sentence{
    height:500px;
    overflow-y:scroll;
  }
}

