/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin:0;
}
header{
  background-color:#333;
  h1{
    font-size:2.1rem;
    line-height:3.3rem;
    text-align:center;
    margin:0;
    a{
      color:#fff;
    }
  }
}
footer{
  h2{
    color:#4a4949;
    text-align:center;
    margin:15px auto 6px;
    font-size:28px;
    font-weight:bold;
  }
  .footer_border_top{
    width:85%;
    height:3px;
    background:#555;
    margin: 0 auto;
  }
  .sns_block{
    text-align:center;
    width: 60%;
    margin: 0 auto;
    font-size:2em;
    margin-top:.8em;
    .sns{
      border-radius:5px;
      display:block;
        color: #fff;
    }
    .twitter{
      background-color: #74c1f8;
    }
    .facebook{
      background-color:#668ad8;
    }
    .hatena{
      background-color:#6eaff3;
    }
  }
  .info_block{
    margin:1.2em auto 0;
    text-align:center;
    width:60%;
    a{
      margin-right:3px;
      color: #555;
      i{
        margin-right:2px;
      }
    }
  }
  .footer_copy{
    font-size:12px;
    text-align:center;
    margin: .5em auto;
  }
}
.shadow_section {
  background: #f6f7f8;
  padding: 0 0 12px 0;
}
.section_block {
  background-color:#fff;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.2);
}
// サムネイルのCSS
.talk_thumnbnail_cover{
  position:relative;
  max-width:100%;
  img{
    max-width:100%;
  }
  .start_radio_btn,.stop_radio_btn,.resume_radio_btn{
    position:absolute;
    top:40%;
    right:45%;
    text-align:center;
    background-color:rgba(0,0,0,.5);
    color:#fff;
    border-radius:50%;
    padding:13px 13px 13px 18px;
  }
  .stop_radio_btn,.resume_radio_btn{
    display:none;
  }
  .take_time{
    position:absolute;
    bottom:.5rem;
    right:.5rem;
    color:#fff;
    font-size:.9rem;
  }
  .now_time{
    position:absolute;
    bottom:.5rem;
    color:#fff;
    font-size:.9rem;
    left:.5rem;
  }
}
// 2カラムのトーク一覧
.talks_block{
  .talk_block{
    height:240px;
    a{
    }
  }
}

// Topページ
#top,#category_page,#sub_category_page,#speaker{
  .category_talk_block{
    h2,.category_title{
      font-size:1.45rem;
      margin:0;
      padding:0 10px .7rem;
      &:first-child{
        padding-top:1rem;
      }
      a{
        color:#333;
      }
      span{
        font-size:1.2rem;
      }
      .to_category_page{
        font-size:1rem;
        a{
          color:#039be5;
        }
      }
    }
    .talk_block{
      .hidden_sentence{
        display:none;
      }
      .speaker_name{
        a{
          color:#333;
        }
      }
    }
  }
}

#show{
  img{
    max-width:100%;
    width:100%;
  }
  h2{
    font-size:1.6rem;
    margin:.5rem;
  }
  .summary{
    clear:both;
  }
  .sentence{
    height:500px;
    overflow-y:scroll;
  }
  .categories_name{
    .chip{
      font-size:.5rem;
      padding:0 .5rem;
      height:auto;
      line-height:2rem;
    }
  }
}
#relation_talk{
  .relation_title{
    font-size:1.5rem;
    text-align:center;
  }
}
#sub_category_page,#speaker_page{
  h2{
    font-size:1.6rem;
    margin:.5rem;
  }
}
#category_page,#sub_category_page,#speaker_page{
  .page_title{
    text-align:center;
    font-size:1.75rem;
    padding: .7rem 0 .2rem;
    margin:0;
    letter-spacing:1px;
    line-height:1.2rem;
    font-weight:bold;
    background-color:#f6f7f8;
    span{
      font-size:.9rem;
    }
  }
}

@media screen and (max-width: 320px) {
  #top,#category_page,#sub_category_page,#speaker{
    .category_talk_block{
      h2,.category_title{
        font-size:1.2rem;
        span{
          font-size:1rem;
        }
      }
    }
  }
}
